@model IEnumerable<PruebaTecnica.Controllers.Mensajes>
@{
    Layout = null;
}
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Mensaje de su proceso</title>
</head>
<br />
<table class="table alert lead">
    <tr>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @if (item.Tipo_Confirmacion)
                {
                        
                    <div class="alert alert-success">@Html.DisplayFor(modelItem => item.Mensaje)</div>
                }
                else
                {
                    <div class="alert alert-danger">@Html.DisplayFor(modelItem => item.Mensaje)</div>
                }
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
